/* * {
    outline: 1px solid red;
} */

body {
    background-color: rgba(205, 214, 219, 0.3);;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

img {
    width: 100%;
    display: block;
}

.slick-prev:before,
.slick-next:before {
    color:black;
    font-size: 30px;
}

.container.slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-track {
    display: flex;
    gap: 20px;
}

.slick-prev {
    left: -35px;
}